[2017-10-24 07:14] WIZARD-CXY opened #17 "How about fpga device plugin"
Hi~
    I found this repo only contains the gpu device plugin, any chance it will have fpga plugin? If it does not exist yet, I wonder how we can contribute one.
   Thanks

[2017-10-25 04:59] ns-sundar commented on #17
I don't think the current APIs work well for FPGAs. Aspects about ptogramming FPGAs are not addressed yet. I am working on a document that proposes changes for FPGAs, and hope to bring it to the community soon after some internal review.

[2017-10-25 05:51] WIZARD-CXY commented on #17
good to know

[2017-10-26 10:18] WIZARD-CXY commented on #17
@ns-sundar I found it too, look forward to your proposal.

[2018-01-13 18:38] wanglingsong opened #49 "How to use -host-path"
I'm trying to install this plugin on my kubernetes nodes whose Nvidia driver is located at /usr/lib/nvidia-384

I read following instruction.
[code]
But I don't know how to use it. And example script or command?

[2018-01-16 20:17] cmluciano commented on #49
Can you try tweaking this env variable https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/daemonset.yaml#L56-L58

[2018-01-16 21:05] mindprince commented on #49
No, that's not what you need to do. That's for installing the drivers. @wanglingsong already seems to have drivers installed.

You need to add the `-host-path` when you start the device plugin.

[code]

For example, update https://github.com/kubernetes/kubernetes/blob/release-1.9/cluster/addons/device-plugins/nvidia-gpu/daemonset.yaml#L40,

[2018-01-17 17:41] wanglingsong commented on #49
I tried following command arguments. However, the plug is still not up.
[code]
[code]

[2018-01-17 18:52] mindprince commented on #49
Looks like you need to remove the node affinity which is GCP specific: https://github.com/kubernetes/kubernetes/blob/release-1.9/cluster/addons/device-plugins/nvidia-gpu/daemonset.yaml#L18-L24

[2018-01-18 10:00] wanglingsong commented on #49
The plugin was up after removing the node affinity, but I still can't run CUDA application within container. I'm using Nvidia's cuda image.
[code]

[2018-01-18 18:32] mindprince commented on #49
To use the device plugin, you need to use kubernetes to start the container.

See the pod spec in https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/#v18-onwards

[2018-01-19 06:05] wanglingsong commented on #49
I also tried to start it with kubernetes. The logs showed following error:
[code]

[2018-01-19 06:38] mindprince commented on #49
Okay, so it found `nvidia-smi` binary but didn't find `libcuda.so.1` library. Can you check where on the host, `libcuda.so.1` is present? Is it not present under `/usr/lib/nvidia-384`?

[2018-01-25 12:59] therc commented on #49
A missing libcuda.so.1 might be due to ldconfig never having been run.

[2018-01-25 14:56] wanglingsong commented on #49
The nvidia driver is proper installed on my host indeed. My tensorflow container is working fine using Nvidia's official device plugin.

[2018-02-02 09:38] tianshapjq opened #53 "How to build the cmd/nvidia_gpu/ to a binary exec file"
I have cloned this project and go get the related projects, such as golang.org/x/net/context and google.golang.org/grpc. But I got the error message as below when running "go build":

./nvidia_gpu.go:113:43: cannot use conn (type *"google.golang.org/grpc".ClientConn) as type *"k8s.io/kubernetes/vendor/google.golang.org/grpc".ClientConn in argument to deviceplugin.NewRegistrationClient

anything el

[2018-02-02 09:39] tianshapjq commented on #53
@mindprince would you please give me some advise?

[2018-02-08 03:33] mindprince commented on #53
You shouldn't need to `go get` anything. The vendor directory has everything that's needed.

When I run into GOPATH issues, I prefer to just do this inside a docker container. Something like:
[code]

[2018-02-08 07:35] tianshapjq commented on #53
@mindprince you are right, I make a mistake for cloning cmd/nvidia_gpu dir and building it directly. Thanks!

[2018-02-08 09:16] #53 closed

[2018-02-28 18:37] kozikow opened #57 "Instructions for GKE ubuntu"
I am trying to use this project with GKE node with --image-type=ubuntu, but it doesn't work out of the box. Any pointers how to make it work?

What I tried so far:

# Start GKE cluster and ssh to the instance</a>

    gcloud beta container clusters create \
      --accelerator=type=nvidia-tesla-k80,count=1 \
      --zone=$CLUSTER_ZONE \
      --num-nodes=1 \
      --cluster-version=1.9.2-gke.1 \

[2018-02-28 18:57] mindprince commented on #57
GPUs on Ubuntu image are not officially supported by GKE yet: https://cloud.google.com/kubernetes-engine/docs/concepts/gpus#limitations

However, they do work. :)

After starting the cluster, just run:
[code]

No need to install anything manually, and no need to replace any paths.

[2018-02-28 19:11] vishh commented on #57
Can you describe why you'd like to use Ubuntu instead of COS?

[2018-02-28 19:26] kozikow commented on #57
For development. Using ubuntu node type allows me to ssh into instance, check out code and build images directly on the node. Using cos for that is not possible, as our build setup uses things like ansible.

On the other hand, dev options for GPUs with kubernetes are limited. Minikube does not support gpus ( https://github.com/kubernetes/minikube/issues/2115 ). Although we test majority of things

[2018-03-01 16:42] mindprince commented on #57
I spoke too early. Try with 1.9.3-gke.0 which is rolling out this week.

[2018-03-02 20:52] cmluciano commented on #57
I get the same error albeit I'm deploying to bare-metal. The ldconfig hangs indefinitely for me when using the installer code on a fresh 1.9.3 cluster.

OS: Ubuntu 16.04.4
Kernel:  4.4.0-116-generic

[2018-03-02 21:15] mindprince commented on #57
It works now on the GKE 1.9.3 cluster (@kozikow can you confirm?)

The reason it was failing for GKE 1.9.2 is that GKE 1.9.2's ubuntu image has docker which uses aufs and GKE 1.9.3's ubuntu image has docker which uses overlay2.

[2018-03-06 19:05] cmluciano commented on #57
confirmed switching to overlay2 got me past the ldconfig hang too

[2018-03-06 19:06] #57 closed

[2018-03-06 21:00] cmluciano opened #58 "ubuntu installer kernel module problems"
I cannot get past the kernel module step install on a bare-metal. I have added the install log and further details:

- K8s 1.9 installed with kubeadm
- 4.4.0-116-generic #140-Ubuntu 16.04
- Tesla K80

[code]

[2018-03-07 16:34] mindprince commented on #58
Can you install 384.111 driver using apt?

Can you attach the contents of `/usr/local/nvidia/nvidia-installer.log`?

[2018-03-13 16:13] cmluciano commented on #58
Problem seems to be with the [-116 kernel](https://bugs.launchpad.net/ubuntu/+source/xorg/+bug/1750937) . I tried rebuilding and uninstalling but nothing worked except downgrading to -112.

Anyways this is kernel/device compatibility issues so I will close this issue

[2018-03-13 16:13] #58 closed

[2018-03-14 16:32] cmluciano opened #60 "Consider adding cuda libraries to path for container mounts"
It would be helpful if we can copy or mount in other paths that CUDA (and by extension TensorFlow) need to run CUDA jobs.

Tensorflow will look for libraries like libcupti within `LD_LIBRARY_PATH: /usr/local/cuda/extras/CUPTI/lib64:/usr/local/nvidia/lib:/usr/local/nvidia/lib64`.

I'm not sure how GKE is solving the CUDA availability. I think it might be sufficient to manually copy the libraries fr

[2018-03-14 17:00] flx42 commented on #60
CUPTI is part of the CUDA toolkit, it should be shipped inside the container.
But I dropped the ball for the non-devel TF Dockerfile, and forgot to include it in my last patch:
https://github.com/tensorflow/tensorflow/issues/17431

[2018-03-14 17:11] cmluciano commented on #60
Ah! Does that mean it should not be required for installation on the host itself?

[2018-03-14 17:11] flx42 commented on #60
Correct.

[2018-03-14 17:43] cmluciano commented on #60
Ok. Before I close this, is it possible to mount the files from the package installed on the host or would that be a nightmare for potential CUDA compatibility problems?

cc @mindprince @jiayingz Not sure what you are doing in GKE

[2018-03-14 17:45] flx42 commented on #60
In the case of CUPTI, I honestly don't really know. But it's safer to match the CUDA version inside your container.

[2018-03-14 17:53] mindprince commented on #60
On the host, we have the bare minimum stuff (kernel modules and libraries that need to match the host kernel version), for everything else, we recommend users to use docker images based off of nvidia/cuda images: https://cloud.google.com/kubernetes-engine/docs/concepts/gpus#configuring_pods_to_consume_gpus

[2018-03-14 18:26] cmluciano commented on #60
Cool thanks all!

[2018-03-14 18:26] #60 closed

[2018-03-16 07:06] windniw opened #61 "Help! Do I need install driver when machine reboot?"
I try using this device plugin in my cluster and it works fine at the first. I run the driver-installer like `docker run --rm installer -v -e ...` only once instead of daemonset. And I found it when my machine reboot, nvidia-smi got error like `NVIDIA-SMI has failed because it couldn't communicate with the NVIDIA driver. Make sure that the latest NVIDIA driver is installed and running.`
Do I must

[2018-03-16 07:49] mindprince commented on #61
Yes, please run it using the daemonset.

Not sure if you are using it on GKE, but here's more information on the expected workflow for GKE: https://cloud.google.com/kubernetes-engine/docs/concepts/gpus

[2018-03-16 21:19] #61 closed

[2018-04-11 15:42] kodieGlosser opened #64 "nvidia-gpu daemonset using hostNetworking"
Copied from https://github.com/kubernetes/kubernetes/issues/62357, probably a better place to open here.

Host Networking is enabled for the nvidia-gpu daemonset. Trying to understand the purpose of using it.
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/device-plugins/nvidia-gpu/daemonset.yaml#L30

Disabling hostNetworking seemed to work and GPU workloads are able to be sche

[2018-04-11 15:43] cmluciano commented on #64
@mindprince is this for the kubelet and plugin to communicate over a socket?

[2018-04-11 15:56] flx42 commented on #64
@cmluciano for that you just need to have permissions that match the kubelet socket file. `root` in this case.

[2018-04-11 16:00] flx42 commented on #64
You can even run with `network=none`:
https://github.com/NVIDIA/k8s-device-plugin#run-locally
But K8s doesn't offer this feature AFAIK.

[2018-04-11 16:29] kodieGlosser commented on #64
Thanks for the response @flx42 . Where exactly can I see the permissions on my kubelet socket file?

When you say

are you talking about your specific case?

If I was able to schedule a GPU workload with the device-plugin running **without** hostNetwork, would that indicate that the kubelet and the plugin can communicate over the socket and the permissions on my kubelet socket file are good?

[2018-04-11 16:35] kodieGlosser commented on #64
Actually I see what you are saying here:

[code]

[2018-04-11 16:39] kodieGlosser commented on #64
and the logs look to be the same without hostNetwork:

[code]

[2018-04-11 16:41] flx42 commented on #64
Yeah, you don't control the ownership of this file. But it does require the device plugin container to run as `root`.

Additional permissions/capabilities will depend on the particular device plugin implementation. For our own implementation, we need pretty much nothing.

[2018-04-11 16:50] kodieGlosser commented on #64
To run as root we should only need

[code]

[2018-04-11 17:14] flx42 commented on #64
No, quite the opposite. `privileged` will remove the LSM confinement (apparmor, seccomp) and give you extra capabilities (`CAP_SYS_ADMIN`).

[2018-04-11 18:48] kodieGlosser commented on #64
Ok. Then what is need to run this device plugin as root?

[2018-04-11 18:56] flx42 commented on #64
That's the default for a container. You have to explicitly state you want a different UID with `runAsUser`

[2018-04-11 19:07] mindprince commented on #64
Hi,

I think `hostNetwork` and `hostPID` in the manifest are artifacts of copy-paste. I will send a PR to remove them.

[2018-04-11 19:14] kodieGlosser commented on #64
ok thanks for the info @flx42. Appreciate it!

[2018-04-17 23:34] mindprince commented on #64
Closing. Fixed in https://github.com/kubernetes/kubernetes/pull/62418

[2018-04-17 23:34] #64 closed

[2018-05-24 13:36] afritzler opened #65 "DevicePlugin Pod keeps terminating"
Hi,

I am using a derivative of the in-tree device plugin from the kubernetes repo[0] for a CoreOS based cluster. The NVIDIA driver installation is done by using the daemonset provided by @squat [1].

I noticed now, that the kubelet is removing the device plugin pods with the following message:
[code]
After removing the label
[code]
from the manifest, this issue disappears.

I am trying now to und

[2018-06-04 20:48] reverson commented on #64
@mindprince This is still referenced in the file linked to from here: https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/#nvidia-gpu-device-plugin-used-by-gke-gce

[2018-06-05 00:14] mindprince commented on #64
It was fixed on kubernetes master branch and was not backported to earlier branches. Once 1.11 is released, we will update the docs to point to the URL from that branch. (It's an addon on GCE/GKE, so once your GKE/GCE cluster moves to 1.11 master, it would stop using hostnetwork/hostPID for this device plugin)

[2018-06-18 19:22] reverson opened #71 "Installer freezes node on updating_container_ld_cache"
Whenever I run this on an ubuntu node the node stops responding to ssh never becomes available for gpu workloads.

This is what I see in the logs
`kubectl logs nvidia-driver-installer-6vnpd -n kube-system -c nvidia-driver-installer -f
+ NVIDIA_DRIVER_VERSION=384.111
+ NVIDIA_DRIVER_DOWNLOAD_URL_DEFAULT=https://us.download.nvidia.com/tesla/384.111/NVIDIA-Linux-x86_64-384.111.run
+ NVIDIA_DRIVER_DOW

[2018-06-18 19:34] mindprince commented on #71
The Ubuntu installation is only tested on GKE. Even there it's not officially supported yet.

I am going to close this but see the comments on #57 (the issue is probably an older kernel or not using overlay2)

[2018-06-18 19:34] #71 closed

[2018-06-19 07:02] gurvindersingh opened #72 "when asked for 1 gpu device, gpu is available as /dev/nvidia1 not /dev/nvidia0"
I have a server with two GPU in it. So when I asked for 1 gpu in the pod and there is no other gpu pod running on server, I get correct index device exposed into pod as `/dev/nvidia0`. But when I have one gpu pod already running on that server and I schedule another pod with 1 gpu in requests, it get GPU device exposed but its index is not `/dev/nvidia0` but `/dev/nvidia1` this causes some issue w

[2018-06-19 16:01] mindprince commented on #72
This was discussed before. The conclusion was that we wanted to make the device available at the same minor number as it has on the host. However, I can't find the discussion thread.

cc @vishh

[2018-06-19 20:59] vishh commented on #72
This is an Nvidia restriction and there is no way around it. IIUC, GPU apps are expected to rely on higher level APIs like CUDA which are supposed to hide issues like this one. @gurvindersingh can you explain why device naming is breaking your app?

[2018-06-20 03:31] gurvindersingh commented on #72
As the application was expecting `/dev/nvidia0`. Its an simple application written internally. We can look into updating with cuda mechanism you are referring. So it seems there is no way around currently then.

[2018-06-20 13:31] #72 closed

[2018-06-27 12:06] lsjostro opened #78 "device plugin to emit metrics?"
Just a question, is the device plugin responsible for emitting metrics for say allocation or is this handled by kubelet? cAdvisor had acceleration metrics previously which now is deprecated in k8s 1.11.

kubelet currently only has `kubelet_device_plugin_alloc_latency_microseconds` metric what I can see.

Would you be willing to accept a PR for exposing a metrics endpoint?

[2018-06-27 16:28] mindprince commented on #78
cAdvisor will continue to be the source of accelerator metrics till a replacement is ready. Currently, it exposes three metrics `duty_cycle`, `memory_used` and `memory_total`.

Not sure what you exactly mean by allocation metrics, but currently heapster (which is also deprecated) exposes how many GPUs a pod has requested. The other place such metrics are exposed is kube-state-metrics.

@dashpole i

[2018-06-28 08:32] lsjostro commented on #78
Alright, cool. I would like to have metrics on how many gpus are allocated and in use within a node pool for instance. You had that previously from kube-state-metrics when feature flag acceleration was enabled in kubelet. `kube_node_status_allocatable_nvidia_gpu_cards` Now when that is deprecated in 1.11 I just wounder how I can get that back?

[2018-06-28 16:02] lsjostro commented on #78
Thanks! I’ll look into that! Cheers!

[2018-06-28 16:02] #78 closed

[2018-07-17 21:47] heroic opened #80 "Installer freezes node on updating_container_ld_cache"
Same as #71. Running on `cos`. Cluster version: `1.10.5-gke.0`. Here's the log dump: [https://gist.github.com/heroic/5bdc756732a8ec5d5081227d1cbb2048](https://gist.github.com/heroic/5bdc756732a8ec5d5081227d1cbb2048)

[2018-07-17 21:47] heroic commented on #80
@mindprince Any clues?

[2018-07-17 21:54] mindprince commented on #80
What's the problem here. The installation seems to be complete in the log.

--
Rohit

On Tue, Jul 17, 2018 at 2:47 PM Amit Kumar <notifications@github.com> wrote:

[2018-07-17 22:02] heroic commented on #80
@mindprince The container I am using on this node doesn't have a /usr/local/nvidia. Shouldn't that be exposed to all containers after the installer is done via nvidia-gpu-device-plugin?

[2018-07-17 22:05] mindprince commented on #80
Not to all containers. Only those that request GPUs. See
https://cloud.google.com/kubernetes-engine/docs/concepts/gpus

On Tue, Jul 17, 2018 at 3:02 PM Amit Kumar <notifications@github.com> wrote:

[2018-07-17 22:08] heroic commented on #80
Yep. I am looking in the GPU pod itself. Here's the pod's YAML

[code]

and here's what's contained in /usr/local
[code]

[2018-07-17 22:10] heroic commented on #80
@mindprince Found the issue! Closing this! Thanks for bearing with me!

[2018-07-17 22:10] #80 closed

[2018-07-17 22:17] mindprince commented on #80
Why do you think this is a GPU pod?

This pod is not requesting any GPUs.

You want to specify something like:

[code]

In your pod spec, then you will see the libraries in /usr/local/nvidia/lib64

—
Rohit

On Tue, Jul 17, 2018 at 3:08 PM Amit Kumar <notifications@github.com> wrote:

[2018-08-11 18:53] AtzeDeVries opened #90 "ubuntu driver install container crashed when nvidia.ko is already loaded."
In  https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/nvidia-driver-installer/ubuntu/entrypoint.sh there is a if statement to check if nvidia kernel module is loaded. It looks like this (line 139)
[code]
In `entrypoint.sh` at line 17 `set -o pipifail` is defined. This causes the check at line 139 to be always true and always tries to load the `nvidia.ko` even if it i

[2018-08-12 23:33] mindprince commented on #90
I don't understand. How does `pipefail` has anything to do with this? The first command in the pipeline always returns exit code 0. So, `pipefail` doesn't have any effect on this pipeline.

If `nvidia.ko` is already loaded then `lsmod | grep -q -w 'nvidia'` returns exit code 0. `if !` makes sure the if condition is not executed.

This restart handling was added recently in #75. Maybe you are runni

[2018-08-13 07:13] AtzeDeVries commented on #90
if you enter this in a shell
[code]
if you set `set +o pipefail` it works as expected. I though it might be because if you run
`! lsmod` in a shell it returns exit-code 1

[2018-08-14 08:59] AtzeDeVries commented on #90
and i've double checked and i'm using `eea7309dc4fa4a5c9d716157e74b90826e0a853aa26c7219db4710ddcd1ad8bc` version of `ubuntu-nvidia-driver-installer` which is the same as in #76

[2018-10-12 09:11] pawel-ziecina opened #94 "EGL doesn't work on kubernetes with k8s NVIDIA plugin"
Trying to run CARLA simulator in offscreen/EGL mode on GKE but failed.
Simulator uses nvidia/opengl image.

It runs correctly on nvidia-docker2 where drivers are mounted in /usr/lib/x86_64-linux-gnu. But on GKE drivers by default are attached by nvidia-plugin in /usr/local/nvidia/lib64.

Shall be new directories with library added to LD_LIBRARY_PATH of newly started container?

[2018-10-13 00:11] jiayingz commented on #94
Thanks for reporting this, @pawel-ziecina
Have you tried to add the following volume mount and see whether it makes your CARLA simulator work?

[code]

[2019-01-30 15:53] driosalido opened #100 "OutOfnvidia.com/gpu when node is restarted"
Trying to run a sample replica-set that start  pods with a gpu request  to test our installation, we discover that if we restart the node that run the pod, the pod enter a `OutOfnvidia.com/gpu` state that seems to last forever.

Is this the normal behaviour when the resource is lost?

[code]

[2019-01-31 11:32] KingJ opened #101 "Kernel Download Fails for Pod Running on Ubuntu 18.04"
Hi,

I've been running a bare-metal deployment of Kubernetes through Kubespray, which utilises the ubuntu-nvidia-driver-installer container for GPU-enabled nodes. All of the underlying machines are running Ubuntu 18.04/Bionic, which has been working well so far.

However with the recent release of kernel 4.15.0-44-generic for Ubuntu 18.04, the driver installer init container fails as it cannot loc

[2019-02-14 10:18] kaoet commented on #90
I also encountered this issue. And I have found the root cause.

According to [manpage of grep](https://linux.die.net/man/1/grep), in quiet mode, `grep` exits immediately when the first match is found.
[code]

This causes `lsmod` fail to write to its stdout, and `lsmod` exits with non-zero.

A simple fix is to remove the `-q` option from `grep`.

[2019-02-16 12:36] AjayZinngg opened #104 "Pod Unschedulable"
I am getting two errors after deploying my object detection model for prediction using GPUs:
1.PodUnschedulable Cannot schedule pods: Insufficient nvidia
2.PodUnschedulable Cannot schedule pods: com/gpu.

I have followed this post for deploying of my prediction model:
https://github.com/kubeflow/examples/blob/master/object_detection/tf_serving_gpu.md
and [this](https://cloud.google.com/kubernetes-

[2019-02-18 11:58] AjayZinngg commented on #104
It got fixed after I deleted all of the nvidia pods and deleted the node and recreated it and installed the nvidia drivers and plugin again.

[2019-02-18 11:58] #104 closed

[2019-02-23 22:02] #90 closed

[2019-02-23 22:03] mindprince commented on #90
Thank you! Sorry it took a long time to get to this.

[2019-02-23 22:04] mindprince commented on #90
BTW, GKE now supports NVIDIA GPUs on Ubuntu image officially. Check out the docs for a faster installation experience: https://cloud.google.com/kubernetes-engine/docs/how-to/gpus#installing_drivers

[2019-02-23 22:50] mindprince commented on #100
cc @jiayingz

[2019-02-28 01:22] cwbeitel opened #106 "Support for CUDA 10.0"
Looks like CUDA 10.0 requires driver version >= 410.48 and it appears the max supported by the current driver installer is 9.2 given it installs version 396.26

[code]

and Table 1 [here](https://docs.nvidia.com/deploy/cuda-compatibility/index.html). Corroborated by [GPUs on GKE docs](https://cloud.google.com/kubernetes-engine/docs/how-to/gpus#cuda) mentioning max supported CUDA is 9.*.

Is it fea

[2019-03-01 17:01] vishh commented on #106
CUDA 10 is supported, but the docs are yet to be updated - Apologies! Try using GKE v1.11.5+.

[2019-03-01 17:01] #106 closed

[2019-03-01 19:10] cwbeitel commented on #106
Ah interesting, thank you @vishh

[2019-03-02 09:50] dkozlov commented on #100
I have discovered the same problem in the GCE but with https://github.com/NVIDIA/k8s-device-plugin after `Instance terminated during maintenance` operation appeared on the https://console.cloud.google.com/compute/operations   page.

[code]

It seems that after node termination device id has been changed (GPU has been replaced after maintenance)

[2019-03-28 15:15] thomas-riccardi opened #107 "Update driver version: how?"
When updating the driver version (by editing the DaemonSet `NVIDIA_DRIVER_VERSION` environment variable for example), the nodes need a restart/reset:
- with `stable` branche the update strategy is `OnDelete`: we need to manually delete the pods first
- the new pods then fail: the new driver installation fails on nodes where another kernel module version is already loaded.

Example:
[code]

After a

[2019-04-02 16:35] ahmetb opened #108 "Rename this repo to kubernetes-engine-*"
We no longer use the Container Engine name for over 1.5 years now. This repo should be renamed.

[2019-06-26 22:43] TomDrake-BabbleLabs opened #115 "Error occurred in CUDA_CALL: 35 after daemonset created."
After creating the daemonset according to https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/ without error. I manually pulled a docker container containing our gpu-centric application and tried running it to verify it's ability to interact with the gpu. It failed with 'Error occurred in CUDA_CALL: 35'

I'm not certain how to ensure that the amd/nvidia driver / libraries are installed. P

[2019-06-28 20:29] minterciso commented on #57
Hello, I'm trying to make a Kubernetes with CUDA work for some days now.
I'm following the instructions on https://cloud.google.com/kubernetes-engine/docs/how-to/gpus, which state just what you said, to use the 'kubectl create -f daemonset.yaml', and this goes smoothly, but even so the driver is not installed on the node, and consequently I'm unable to execute any docker image....

[2019-06-29 18:31] chardch commented on #57
@minterciso Have you tried applying the following daemonset from https://cloud.google.com/kubernetes-engine/docs/how-to/gpus#installing_drivers?

`kubectl apply -f https://raw.githubusercontent.com/GoogleCloudPlatform/container-engine-accelerators/master/nvidia-driver-installer/ubuntu/daemonset-preloaded.yaml`

[2019-06-29 18:39] chardch commented on #115
@TomDrake-BabbleLabs You can check the presence of the GPU on the node using

`kubectl describe nodes`

Within the output, under Allocatable/Capacity, there should be a field for `nvidia.com/gpu`.

You can also ssh into your node and check the presence of the devices under `/dev`.

The nvidia libraries should be under `/usr/local/nvidia` from within your container if you are using the gpu device p

[2019-06-29 20:08] minterciso commented on #57
Yeah I did, same issue. I found the solution last night though, it seems that the master/nvidia-driver-installer/ubuntu/daemonset-preloaded.yaml (or the cos counterpart) is older than what I was using for developing. Fiddling around a little on the github I found that there's another daemonset.yaml, mainly on https://raw.githubusercontent.com/GoogleCloudPlatform/container-engine-accelerators/maste

[2019-06-29 20:12] minterciso commented on #115
I've had this exact same issue, and been fiddling with it for some time. What I found is that there's a Daemonset that updated with the latest driver, for COS at least. For me, that was the solution, install the daemonset present on https://raw.githubusercontent.com/GoogleCloudPlatform/container-engine-accelerators/master/daemonset.yaml .

[2019-07-01 17:27] chardch commented on #57
@mintercisco I see you're using CUDA 10.1. The Nvidia 418 driver to support CUDA 10.1 is not yet supported for Ubuntu on GKE. The COS image has support for 418 starting from 1.13.6-gke.6.

[2019-07-02 00:31] minterciso commented on #57
Yeah, that was what I found out as well, but honestly, the documentation is very blur on that, specially because even if using the COS (as stated on the document) it gives only CUDA 10.0.

[2019-07-02 17:47] chardch commented on #57
Yea agreed. The document will be updated soon to reflect the changes, since 1.13.6-gke.6 was pretty recent. The preloaded daemonset will install the 418 driver for 1.13.6-gke.6 and above

[2019-07-03 22:45] TomDrake-BabbleLabs commented on #115
Mateus, Thank you for your reply. My pod is now able to access the GPU.

On Sat, Jun 29, 2019 at 1:12 PM Mateus Interciso <notifications@github.com>
wrote:

[2019-07-04 00:31] minterciso commented on #115
Glad it helped!

[2019-07-16 07:17] soolaugust opened #116 "Is dockerfile of jupyter-notebook in example newest?"
Hello,

I am trying to build jupyter-notebook image based on Dockerfile.cpu in example directory:

https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/4baa941d8df91e5dc1736adea74ce54e564dd782/example/tensorflow-notebook-image/Dockerfile.cpu#L3

but got following error:

[code]

After change `libav-tools` to `ffmpeg` will fix this error.So is the dockerfile newest or not?

[2019-08-08 22:45] PriyeshWani opened #119 "Installing the dameonset with nvidia-driver version 430.40"
How do I go about updating the nvidia driver version to 430.40?
Right now, in my env, it is setting up 410.x Where is it getting 410 from?

From the script it seems the default is set to 418

I am using https://raw.githubusercontent.com/GoogleCloudPlatform/container-engine-accelerators/stable/nvidia-driver-installer/cos/daemonset-preloaded.yaml to install daemonset on my nodes.

Thanks

[2019-08-21 17:36] #115 closed

[2019-08-21 17:37] TomDrake-BabbleLabs commented on #115
Answer provided by minterciso solved the problem.

[2019-09-23 04:37] ndesh26 opened #123 "Using single GPU with multiple containers"
I was able to find some [unofficial support](https://github.com/AliyunContainerService/gpushare-device-plugin) for this in case of the Nvidia plugin. Is there similar support for this plugin?

I'm interested in this feature and would be willing to implement it. I want to know if there are other people who would be interested in such a feature. And also if the maintainers of this repo would like to

[2019-09-26 10:14] thomas-riccardi commented on #123
Porting [gpushare-device-plugin](https://github.com/AliyunContainerService/gpushare-device-plugin) (and [gpushare-scheduler-extender](https://github.com/AliyunContainerService/gpushare-scheduler-extender) if it needs adaptation) to GKE would be much useful to us!
(This is the next step after our [simple GPU sharing fork of container-engine-accelerators](https://github.com/Deepomatic/container-engi

[2019-09-27 17:58] danisla commented on #123
There is a simple way to do GPU sharing on GKE by creating symlinks on the host filesystem to the /dev/nvidia0 device. The plugin will pickup these new devices and register them with the node. There is no advanced scheduling, but it does let you attach the same GPU to multiple containers.

Here is an example I use in a daemonset to add the symlinks to the node after the NVIDIA driver has been inst

[2019-09-30 07:28] ndesh26 commented on #123
@danisla That's a nice, simple solution for a use case with basic scheduling.

[2019-10-04 14:20] HenriTEL commented on #123
Another trick would be to make your node RAM match the GPU memory.
Assuming your pods restrict their GPU memory limit themself you can schedule based using `resources.requests.memory`.

[2019-10-15 11:39] ide8 commented on #123
@danisla, could you please clarify where exactly this bash script should be applied?
It doesn't work when I run it strictly on the worker node.

[2019-10-15 17:19] danisla commented on #123
@ide8 here is a [DaemonSet](https://gist.github.com/danisla/77afbb88f215d116f1905f723d3d879d) that I apply to create the symlinks on new nodes.

[2019-10-16 12:54] ide8 commented on #123
@danisla , thank you but seems that it doesn't work with EKS
Trying to figure it out

[2019-10-17 01:14] ndesh26 commented on #123
@ide8 I was able to successfully run @danisla's solution on our system, your problem might be specific to EKS.

[2019-10-17 10:11] HenriTEL commented on #123
@ide8 Note that the `nvidia-device-plugin` used on gke does not use `nvidia-docker`, it mounts devices in the containers directly.
I apply this [DaemonSet](https://gist.github.com/HenriTEL/f14a2108ce428543e322461d6427ef57) to install nvidia-docker and set nvidia as default runtime.

[2019-10-24 19:35] chainlink opened #125 "Init container erroring on 1.13.10-gke.0 Clusters"
Cluster Version: 1.13.10-gke.0
OS: COS

Accelerator: K80

Config used:
[code]

Kube node version:  1.13.10-gke.0

nvidia-driver-installer init container fails

Failure logs:
[code]

[2019-10-29 11:56] itayvallach opened #127 "init container error on v1.15.4-gke.15"
nvidia-driver-installer init container fails.
OS: COS
uses latest config:
https://raw.githubusercontent.com/GoogleCloudPlatform/container-engine-accelerators/master/nvidia-driver-installer/cos/daemonset-preloaded.yaml

When using above code from September 22, 2019, everything works fine, thus error is related to the latest 2 commits from the last month. Logs:

+ COS_DOWNLOAD_GCS=https://storage.go

[2019-10-31 09:21] dgruber commented on #101
I've the same issue on GKE in the init-container when using "ubuntu" image (and v1.14.7-gke.10).

E: Unable to locate package linux-headers-4.15.0-1044-gke
E: Couldn't find any package by glob 'linux-headers-4.15.0-1044-gke'
E: Couldn't find any package by regex 'linux-headers-4.15.0-1044-gke'

[2019-11-01 20:25] chardch commented on #125
Hi @chainlink this is addressed in this issue: https://github.com/GoogleCloudPlatform/cos-gpu-installer/issues/45

The error you faced is fixed now.

[2019-11-01 20:25] #125 closed

[2019-11-07 22:14] chardch commented on #127
Hi @itayvallach is this still occurring? This seems like it's due to the same issue here: GoogleCloudPlatform/cos-gpu-installer#45 and should be resolved with this revert: https://github.com/GoogleCloudPlatform/container-engine-accelerators/pull/126

[2019-11-11 15:10] itayvallach commented on #127
Seems it is indeed resolved now.

[2019-11-11 15:10] #127 closed

[2019-11-12 21:43] chardch commented on #119
@PriyeshWani The nvidia driver version is tied to the GKE node version, as defined in this section: https://cloud.google.com/kubernetes-engine/docs/how-to/gpus#installing_drivers

[2019-12-04 22:19] lutierigb commented on #119
It's not really tied. It's just the version that's pre-loaded in the image. You should be able to pick the version you want by specifying the version in the env NVIDIA_DRIVER_VERSION. I haven't tested for the daemonset above but using the following:
https://raw.githubusercontent.com/GoogleCloudPlatform/container-engine-accelerators/master/daemonset.yaml

And then patching with:

kubectl patch daem

[2019-12-13 14:11] ensonic opened #130 "nvidia-driver-installer failed to build the driver"
We are following the instructions under https://minikube.sigs.k8s.io/docs/tutorials/nvidia_gpu/. We have minikube up and running and installed the addons. Both of them don't come up though.

## repro
Follow the tutorial. Check that the addons run successfully:

[code]
The init-container of kubectl-driver-installer fails. logs here:
https://gist.github.com/ensonic/e23518399f040307597aac1f84aa7d47

[2020-01-13 22:23] brannondorsey opened #132 "nvidia-driver-install crash loop during GKE scale ups"
We've been using the nvidia-driver-installer on Ubuntu node groups via GKE per the official How-to GPU instructions specified [here](https://cloud.google.com/kubernetes-engine/docs/how-to/gpus).

[code]

The daemonset deployed via [`daemonset-preloaded.yaml`](https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/nvidia-driver-installer/ubuntu/daemonset-preloaded.yaml) ap

[2020-01-28 12:58] limbuu opened #133 "Nvidia driver failed while using cuda 10.0"
we run docker containers in GKE(Google Kubernetes Engine) with 12.x version with cuda 10.0 version and cudnn>7.6.5  . Actually the nvidia driver installed as per the docs through https://raw.githubusercontent.com/GoogleCloudPlatform/container-engine-accelerators/master/nvidia-driver-installer/cos/daemonset-preloaded.yaml gives 410.79 nvidia-driver. But looks like the cuda installs different nvidia

[2020-01-28 15:24] theoallard commented on #133
I have been getting similar errors. We also run jobs based on cuda 10.0 docker images from nvidia. Looking closer at the logs of the `nvidia-driver-installer` daemonset, it seems the driver and cuda versions the daemonset installs have changed between January 22nd and January 26th, from 410.79-cu10.0 to 418.67-cu10.1.

[2020-01-28 16:25] theoallard commented on #133
Actually in our case this was because our node versions had been automatically updated. Turing off automatic update and reverting node version to `1.12.10-gke.17` fixed it

[2020-01-29 07:49] limbuu commented on #133
@theoallard our node version is  1.12.10-gke.17 . I was able to do nvidia-smi. I fixed the environment variable paths too. Here is a part of my docker image file.

`RUN apt-get update && apt-get install -y gnupg2 curl
RUN wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64/cuda-repo-ubuntu1804_10.0.130-1_amd64.deb
RUN dpkg -i cuda-repo-ubuntu1804_10.0.130-1_amd64.deb
RU

[2020-01-29 17:27] karan commented on #132
I can't repro this with 1.15 on GKE.

[code]

Then:

[code]

Then I scaled instances from 1 to 2, and saw that the driver is running fine.

[code]

Are you still seeing this? If so, can you please provide repro steps?

[2020-01-30 06:22] limbuu commented on #133
Deleting multiple kernel and processes , running a process at a time fixed the issue. Also, found out, the tensorflow-gpu==2.00 has memory allocation issue which uses max memory while loading variables with some random values. Thinking to switch for tensorflow-gpu==2.1.0.

[2020-02-08 07:05] limbuu opened #134 "Is it okay to change Nvidia Driver version other than that given by Daemonset mentioned in GPU for Kubernetes Cluster Docs"
We are currently using nvidia driver daemonset as given in https://raw.githubusercontent.com/GoogleCloudPlatform/container-engine-accelerators/master/nvidia-driver-installer/cos/daemonset-preloaded.yaml
Unfortunately it supports 410.79 nvidia driver which is compatible with kubernetes 1.12X version. But, we want to upgrade our driver to 440.x and also upgrade our cuda libraries which is currently

[2020-03-16 23:50] lorqor commented on #132
We are unable to locate the exact root cause since the repro steps are missing here.
A potential fix on gRPC is submitted in https://github.com/GoogleCloudPlatform/container-engine-accelerators/pull/135.

[2020-03-27 21:12] dwarburt commented on #119
Changing that variable won't work unless you can also convince someone to upload the matching version to https://storage.googleapis.com/nvidia-drivers-us-public/tesla/430.40/NVIDIA-Linux-x86_64-430.40-diagnostic.run. I just tried this trick to install 430.14 and ran into that. After it fails to download that package then it's going to go into the compiler but the container is not setup with a func

[2020-04-15 07:48] limbuu commented on #100
I am having the same issue now, I have used preemtible VMs and attached Tesla T4 GPU to it.

[2020-05-13 00:31] viveklak commented on #119
What are the timelines for updated drivers? As mentioned in the above comment - manually updating doesn't seem to be an option. Newer versions of pytorch now require CUDA 10.2. This is becoming a problem.

[2020-05-15 16:06] MartinaRuocco opened #137 "Can't install NVIDIA Drivers using DaemonSet"
I'm trying to follow the instructions to install the nvidia GPU drivers (tutorial [here](https://github.com/SurrealAI/surreal/blob/master/docs/surreal_kube_gke.md) that refers to the [Google Cloud documentation](https://cloud.google.com/kubernetes-engine/docs/how-to/gpus#installing_drivers))

it should be very easy, the following command should install automatically NVIDIA's drivers for you:
`kube

[2020-05-20 18:07] focom commented on #119
Yes would be nice to at least have a work around!

[2020-05-26 16:20] MartinaRuocco commented on #137
the solution is here:
https://github.com/SurrealAI/cloudwise/issues/2

[2020-05-26 16:20] #137 closed

[2020-05-28 09:40] mikhno-s commented on #119
Looks like I have the same issue
Provided logs here - https://github.com/GoogleCloudPlatform/cos-gpu-installer/issues/52

What is the alternative workaround to install drivers with version > v440.30 to GKE?

[2020-06-01 14:57] dwarburt commented on #119
You'll have to build your own daemonset driver installer. Once the driver is installed everything else should work correctly. I don't know of any community project that does this already.

[2020-06-17 09:01] saswatac opened #138 "Allow nvidia driver installer daemonsets for cos and ubuntu to co-exist"
For clusters having both cos and ubuntu based nodes, it is needed to install both the daemonsets for ubuntu and cos, but with the current setup, only either of them can be installed.

Proposal to allow both the daemonset to be installed -

Make the changes below to preloaded daemonsets https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/nvidia-driver-installer/ubuntu/d

[2020-06-22 14:16] chrisroat opened #139 "nvidia-driver-installer failing to install on some workers"
I have many pods running on the same cluster/node pool, which has the nvidia-driver-installer daemonset installed.  A small fraction of them (~few percent) have workloads that fail due to missing libcuda.so.1.  When I manually check, I find the /usr/local/nvidia directory is not present.  See below, showing two pods -- one incorrectly installed, the other correctly installed.

Worst case, if this

[2020-06-26 05:52] allanlei commented on #134
We ran into this requirement also working with ffmpeg and scale_npp filter producing corrupt video.

1. `gsutil ls gs://nvidia-drivers-asia-public/tesla`  (Replace `asia` with your GCP region`
2. Find the driver version you want  (`440.64.00`)
3. Set the following in the daemonset

[code]
4. Re-intsall daemonset

FYI, looking at https://github.com/GoogleCloudPlatform/cos-gpu-installer, the image h

[2020-06-26 06:08] allanlei commented on #139
From my experience, this is due to the GPU not being "ready to use".  Usually happens when

[code]
is not specified.  The same problem occurs when trying to access GPU on `docker` without the `--gpus all` flag.

From what I remember, the driver daemonset sets `cloud.google.com/gke-accelerator` label after it has completed the installation which can potentially take a couple of minutes.

Setting

[

[2020-06-26 15:23] chrisroat commented on #139
Thanks for the suggestion.  The specification I use is correct, and most pods are setup correctly and do run successfully.   It's only an occasional problem.

The issue turns out to be with preemptible nodes, which can restart so quickly that the system does not correctly setup the GPU (via the deamonset, I think).  Here is the note from Google support:

"Since this period was very short, it means

[2020-06-29 16:43] Svendegroote91 opened #140 "Installation on ubuntu 18.04 LTS VM on google cloud fails on "Unable to locate package linux-headers-5.3.0-1029-gcp""
I deployed Kubernetes with Kubespray on a set of Ubuntu VMs on Google Cloud.
One of the worker has a GPU (tesla K80).

When running the daemonset to install the Nvidia driver, I get the following error message:

[code]

The GPU-worker node has the following specs:
[code]

When I check on the VM itself it the package is there, it seems to be that way:
[code]

Information on the image from google cl

[2020-08-04 14:26] hsharrison commented on #119
I have the same problem as @mikhno-s but I'm a bit confused. The files do exist for other versions as per @dwarburt 's comment. I'm following the logs and I can't figure out why the symptom of changing the driver version is permission denied.

[2020-08-04 14:35] dwarburt commented on #119
The files do not exist, I believe. I'm not sure what version you're trying to install but if it's a version that's not been uploaded to that bucket (nvidia-drivers-us-public) then the google installer won't work and you'll need to make your own.

[2020-08-04 14:42] hsharrison commented on #119
I'm seeing lots of files...
[code]

Same for the US. And looking inside the directories shows similar contents as 418.67. What am I missing?

[2020-08-04 14:43] hsharrison commented on #119
Oof, just realized I'm looking in the wrong bucket. Nevermind...

[2020-08-04 15:04] hsharrison commented on #119
Well, after snooping around in the public buckets I think I found one that works: 440.64.00. 🎉

[2020-08-06 07:10] pasikon commented on #119
@hsharrison were you able to install these 440? if so, could you provide some files :pray:

[2020-08-06 18:43] hsharrison commented on #119
I didn't have to do anything fancy.

[code]

[2020-08-08 19:58] hilsenrat commented on #119
@hsharrison Did it immediately work for you without any further actions?

[2020-10-02 14:55] focom commented on #119
Anyone found a working daemonset for GKE 1.16?

[2020-10-02 16:24] ruiwen-zhao commented on #119
Have you tried using https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/nvidia-driver-installer/cos/daemonset-nvidia-v450.yaml ? This daemonset does not require a preloaded image, and it's version is 450.

[2020-10-02 17:27] focom commented on #119
@ruiwen-zhao Yes i patched my cluster with this command:
[code]
Thing is the driver are in a crashloop backoff. As gke will force upgrade us to 1.16 I am trying to find a fix on our staging environement.
If I provide logs would you be able to help me debug this?

[2020-10-02 20:40] ruiwen-zhao commented on #119
Hey yeah if you can provide the logs from the installer and I will see what I can find.

Also, can you try just using the daemonset I provided, instead of patching the existing one? There are some other differences than driver version.

[2020-10-02 21:13] hsharrison commented on #119
That dameonset worked for me on 1.16. Remind me to avoid GKE upgrades from now on, though. It was pretty late into the night before I figured out to try it.

[2020-10-21 09:54] robertdavidsmith opened #150 "Adding NUMA/TopologyManager support to gpu device plugin"
Hi,

I’m interested in adding TopologyManager/NUMA support to your GPU device plugin.

I believe this is a case of

1. Upgrade container-engine-accelerators/vendor/k8s.io/kubernetes/pkg/kubelet/apis/deviceplugin/v1beta1/api.proto to a newer version that includes TopologyInfo
2. Find a way of mapping paths under /dev to paths under /sys (for example map /dev/nvidia0 to /sys/devices/pci0000:00/0000:

[2020-12-14 16:34] robertdavidsmith commented on #150
PR here https://github.com/GoogleCloudPlatform/container-engine-accelerators/pull/165

[2021-01-07 06:30] ymotongpoo opened #169 "dependency on k8s.io/kubernetes cause build failure"
My application is depending upon `github.com/GoogleCloudPlatform/container-engine-accelerators/pkg/gpu/nvidia/metrics`, and `k8s.io/kubernetes` is in its indirect dependencies. Because of it, `go build` command fails with the following messages.

[code]

The issue is already reported here (https://github.com/kubernetes/kubernetes/issues/90358) but hopefully someone can conduct the workaround intro

[2021-01-07 17:34] ruiwen-zhao commented on #169
Hi it seems that there is already a workaround suggested in the issue you linked (https://github.com/kubernetes/kubernetes/issues/90358#issuecomment-617859364), have you tried it?

[2021-01-08 00:11] ymotongpoo commented on #169
I know that work around and what I'm asking is someone in this repo to do it, because `k8s.io/kubernetes` is not supposed to be depended by external packages but for ones under `k8s.io`.

Quoting from the thread (https://github.com/kubernetes/kubernetes/issues/90358#issuecomment-617859364):

[2021-01-23 22:06] sbrunk opened #177 "Downloading driver fails on a K8S 1.18 GKE Cluster"
Using the [daemonset-nvidia-v450.yaml](https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/nvidia-driver-installer/cos/daemonset-nvidia-v450.yaml) fails due to a 403 error in a cluster with version `1.18.14-gke.1200`. [daemonset-preloaded.yaml](https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/nvidia-driver-installer/cos/daemonset-preload

[2021-01-25 19:04] ruiwen-zhao commented on #177
Hi @sbrunk , the GKE nodes have the driver installer images preloaded so you should just use [daemonset-preloaded.yaml](https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/nvidia-driver-installer/cos/daemonset-preloaded.yaml), and it should work. Can you paste the error you see when running it on a 1.18 cluster?

[2021-01-25 19:21] pradvenkat commented on #177
Also, based on https://cloud.google.com/kubernetes-engine/docs/how-to/gpus#installing_drivers,  on GKE 1.18, the default nvidia driver is already updated to 450.51.06, so you probably don't need this.

[2021-01-25 21:04] sbrunk commented on #177
I just gave it another try using [daemonset-preloaded.yaml](https://raw.githubusercontent.com/GoogleCloudPlatform/container-engine-accelerators/master/nvidia-driver-installer/cos/daemonset-preloaded.yaml) in a fresh 1.18 cluster and it worked fine this time. So I must have done something wrong before.

Thanks for your help @ruiwen-zhao @pradvenkat and sorry for the noise.

[2021-01-28 18:22] lopeg commented on #177
I have had the same - just using daemonset-preloaded.yaml did not help. "Fun" stuff that I could download the file  by link from the container on the node, but driver installation failed.
You can say - download is not needed and drivers already there, but  deployments with gpu in requested resources failed to be scheduled on the node even.
I had to rollback to 1.17

[2021-01-28 18:52] ruiwen-zhao commented on #177
Hi @lopeg thanks for bringing up the issue. Can you paste the error messages here? i.e. what did you see when the driver installation failed? And the GPU pods failed to be scheduled, is this because the node does not discover GPUs?

[2021-01-29 09:28] lopeg commented on #177
@ruiwen-zhao

I saw that deamonset pods were hanging in PodInitializing. Please find pod logs with the error
![image](https://user-images.githubusercontent.com/6160482/106256716-ec1e9b80-621b-11eb-9493-e40e96b9964d.png)

I guess, yes, a deployment was immediately set to NotSchedulled because resources were not matched. The same YAML manifest successfully applied before the upgrade to 1.18 and afte

[2021-02-23 20:21] kakaxilyp-dawnlight commented on #177
@ruiwen-zhao We also ran into the exact same issue as @lopeg described after upgrading the cluster to 1.18, and the symptom was exactly the same. I'm wondering if there has any updates on the issue?

[2021-02-23 21:35] ruiwen-zhao commented on #177
Hi @kakaxilyp-dawnlight and @lopeg
Sorry for the late response. I have tried creating a GPU cluster with the same cluster version (1.18.12-gke.1210) but cannot reproduce the issue. The installer worked fine.

The GCS bucket cos-tools is public, so you should be able to access it. The only thing that might block your access is insufficient access scope. Can you please check the access scope of your

[2021-02-23 22:25] kakaxilyp-dawnlight commented on #177
@ruiwen-zhao thanks for the quick reply. This is the service account for my gpu node pool and its scope, it seems ok to me:

<img width="1012" alt="Screen Shot 2021-02-23 at 14 21 57" src="https://user-images.githubusercontent.com/8085609/108916127-af5b7f80-75e2-11eb-9223-f288723c7c44.png">

<img width="596" alt="Screen Shot 2021-02-23 at 14 22 23" src="https://user-images.githubusercontent.com/80

[2021-02-23 22:48] ruiwen-zhao commented on #177
Yeah I was expecting to see the Access scopes field under Security. Something like this:
![Screen Shot 2021-02-23 at 2 39 28 PM](https://user-images.githubusercontent.com/5353511/108917888-4d504980-75e5-11eb-9dac-4d15bcbb2f0f.png).

Can you try creating a new cluster or a new node pool under the existing cluster, using default scopes, and checking if the installer could be downloaded? See https://

[2021-02-24 09:55] k3rn31 commented on #177
Hi, we have the same problem, also on newly created channels. There is a 403 Forbidden error when it tries to download the Nvidia drivers (which are publicly available).

`failed to download GPU driver installer: failed to download GPU driver installer version 450.51.06: failed to download GPU driver installer, status: 403 Forbidden`

[2021-02-24 22:51] kakaxilyp-dawnlight commented on #177
@ruiwen-zhao Thanks for the example, but we were using the [ContainerNodePool](https://cloud.google.com/config-connector/docs/reference/resource-docs/container/containernodepool) CRD to create node pools, and we didn't want to use the default compute engine service account for the node pools, looks like the access scope doesn't apply to non-default service account. Do you have any suggestion how t

[2021-02-24 23:52] ruiwen-zhao commented on #177
Driver installer needs to this storage read access scope, so you will need to add the scope to the node pool to make the installer work.  Is it possible for you to recreate the node pool by specifying both service account and scope, as documented here? https://cloud.google.com/sdk/gcloud/reference/container/node-pools/create#--scopes

Sorry I am not familiar with ContainerNodePool CRD, but if Cont

[2021-02-24 23:54] ruiwen-zhao commented on #177
There is a recent change on driver installer that requires Storage Read scope, and that change is rolled out with 1.18 clusters.

[2021-02-25 06:59] kakaxilyp-dawnlight commented on #177
@ruiwen-zhao Creating a node pool with the default service account and storage read scope does solve the issue, but in our case we were using non-default service account, and looks like the access scope doesn't apply to node pools using non-default service accounts (not only about the ContainerNodePool CRD, I might be wrong, but wasn't able to find a clear answer on this). The non-default service

[2021-02-25 08:05] k3rn31 commented on #177
Understood. Shouldn't this new needed scope be the default? Or at least documented? I could not find any reference to this in the documentation and we had quite a headache figuring out this ;)

[2021-02-25 18:22] ruiwen-zhao commented on #177
Access scope is on the VM level, and a more restrictive access scope will restrict a VM's access even if your service account may allow it. (See https://cloud.google.com/compute/docs/access/service-accounts#service_account_permissions).

Regarding to the support of access scope on non-default SA, access scope does apply to non-default SAs. I have run a quick test myself:
[code]

Can you paste what

[2021-02-25 19:14] kakaxilyp-dawnlight commented on #177
For example, when trying to create node pools through UI console with non-default service account, it seems doesn't support access scope config?

<img width="551" alt="Screen Shot 2021-02-25 at 11 12 30" src="https://user-images.githubusercontent.com/8085609/109204724-8f4ecc00-775a-11eb-883b-65a1ed44550c.png">

[2021-02-25 20:02] ruiwen-zhao commented on #177
Hi can you try doing this thru gcloud?

[code]

[2021-02-26 00:53] kakaxilyp-dawnlight commented on #177
@ruiwen-zhao Thanks for the example, just confirmed that using `gcloud` to create a node pool with non-default service account and necessary access scopes worked fine with the installer on a `1.18` cluster. So looks like it's only the GCP console doesn't support it?

[2021-03-24 20:30] adityapatadia commented on #132
This can be reproduced under Ubuntu but not in COS. Just rolled new cluster with Ubuntu and got this error.

[2021-03-24 20:54] ruiwen-zhao commented on #132
Can you provide the GKE version and the OS where you reproduced this error?

[2021-03-25 03:37] adityapatadia commented on #132
I used rapid channel Kubernetes 1.19. Ubuntu version I am not sure but I just selected it from drop down in create cluster wizard. GPU I used was Nvidia T4

[2021-03-26 14:47] lopeg commented on #177
I have found that setting differs between UI creation and terraform
When I create a node pool in UI - there are no issues and auth_scopes is the reason
default auth_scopes in UI include read access to storage, while default values in terraform (and probably in cli) - no.
Man has to specify explicitly the following

[code]

[2021-04-03 21:10] ipclaudio commented on #177
same issue :

![image](https://user-images.githubusercontent.com/74610317/113491530-55938280-94c9-11eb-997e-c57cb03e21d8.png)

what is the solution?

[2021-04-05 11:11] lopeg commented on #177
@ipclaudio the solution is to specify explicitly auth_scopes

[2021-04-29 09:03] otherguy commented on #100
We're having the same issue.

[2021-05-28 08:17] shubhamoli opened #196 "Getting X Insufficient nvidia.com/gpu error when scheduling pods"
**Summary:**
[Followed this guide to use GPU enabled nodes](https://cloud.google.com/kubernetes-engine/docs/how-to/gpus#cos) in our existing cluster but when we try to schedule pods we're getting `X Insufficient nvidia.com/gpu` error

**Details:**
We are trying to use GPU in our existing cluster and for that we're able to create a **NodePool with a single node having GPU enabled.**

Then as a next

[2021-05-29 15:55] shubhamoli commented on #196
**[Update]**

We had to manually install the nvidia device plugin from the following link as mentioned in [the official K8s doc.](https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/#nvidia-gpu-device-plugin-used-by-gce)

`kubectl create -f https://raw.githubusercontent.com/kubernetes/kubernetes/release-1.14/cluster/addons/device-plugins/nvidia-gpu/daemonset.yaml`

Not sure why [GKE's gui

[2021-06-01 17:59] #196 closed

[2021-07-01 01:59] chrisroat commented on #139
This is still an intermittent issue for me.

I upgraded to gke 1.21 in hopes that the [Graceful Shutdown](https://kubernetes.io/blog/2021/04/21/graceful-node-shutdown-beta/), which is enabled in gke 1.21, would mean the end of the Node Termination Handler, as indicated in its [README](https://github.com/GoogleCloudPlatform/k8s-node-termination-handler/blob/master/README.md.

But I still get crashe

[2021-07-14 02:53] Soledao opened #199 "when restart kubelet, the gpu-device-plugin will Restart and Re-register to the new kubelet, leads to pods that depend on the gpu-device-plugin restarting as well."
because of this, usually, these pods were not available for about 60 seconds.

Normally, a pod that uses only CPU and memory will not restart when restarting kubelet. What solutions can be taken to ensure that pods rely on gpu device are not unavailable when restarting kubelet? Especially when I want to upgrade kubelet.

[2021-07-14 13:53] adityapatadia opened #200 "Driver upgrade is not possible"
We are using this guide to install drivers: https://cloud.google.com/kubernetes-engine/docs/how-to/gpus#installing_drivers

Now, the drivers for COS are locked and it always installs `450.119.04`. We want to upgrade driver to version `460.32.03` because https://github.com/FFmpeg/nv-codec-headers needs driver version 455.28 or newer.

How can we upgrade driver version?

[2021-07-15 17:37] grac3gao commented on #199
Hi @Soledao, could you provide the way to reproduce that (and the information about your cluster)?
I was trying to reproduce it by:
1. create a gpu cluster -> install device installer pod to make sure device plugin starts working-> apply a pod using gpu
2. ssh into the node, and restart the kubelet

However, I didn't see gpu-device-plugin get restart, the Pod uses gpu doesn't restart either.

[2021-07-15 17:37] grac3gao commented on #199
/assign

[2021-07-15 17:37] grac3gao commented on #199
/assign @grac3gao

[2021-07-30 09:38] omesser opened #202 "nvidia-gpu-device-plugin gets OOM killed"
In our experiments with running GPU loads over GKE  over at [iguazio](https://www.iguazio.com) we've hit OOM kill of the NVIDIA GPU device plugin pod during a gpu load test
[code]

This happened on ubuntu nodes w GPU (n1-standard-16 though I don't think it matters 😄 ), running GKE engine 1.19.9-gke.1900

I suspect the allocated resources for it (mem limits) might not be enough. Maybe up it to 40Mi

[2021-08-02 22:31] pradvenkat commented on #202
@omesser,  Thanks for reporting this issue. On GKE 1.19, you can increase the GPU device plugin memory limit with `kubectl -n kube-system edit ds nvidia-gpu-device-plugin`, and update the memory request and limit. Form GKE 1.20 onwards, we've already increased the memory limit to avoid OOMs.

[2021-08-03 08:55] omesser commented on #202
Hi @pradvenkat,
Thanks for the reply
This is exactly what we're doing (increasing the limit manually).
Any reason why not to change the manifest for GKE engine 1.19.x so... you know, users wouldn't have to do that? sounds like an easy and safe fix to get this out of the box

[2021-08-18 08:23] assapin commented on #202
Encountered the same issue running 1.20.8-gke.900
After installation, the memory of the nvidia-device-plugin is still 20mb.
This is also what I see in the source.
https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/cmd/nvidia_gpu/device-plugin.yaml

Out of memory on the driver can cause, if the timing is right, for running pods to fail in outofnvidia.com/gpu status
sin

[2021-08-18 11:33] assapin commented on #202
I noticed that editing the daemonset manually, setting the container's limits.memory gets automatically overwritten after a few seconds, back to the original value (20Mi).
from looking at the audit log of the daemonset, it seems that system:addon-manager is doing some automatic reconciliation in the background.

If I delete the daemonset --> also gets automatically recreated
applying a fresh yaml

[2021-08-19 19:47] omesser commented on #202
Hi @assapin
This is managed by the addon manager, and, to my understanding, it is taking hints from the labels to do its thing

We're installing the gpu device plugin via the [installer](https://cloud.google.com/kubernetes-engine/docs/how-to/gpus#installing_drivers) which might be different from how you install it.

Try running
[code]
and look at the labels.
What I'm seeing on our gke clusters is

[2021-08-19 19:58] omesser commented on #202
@assapin  - there's a good chance that it's all about how you install the gpu plugin, and we're just lucky because the [installer from the docs](https://cloud.google.com/kubernetes-engine/docs/how-to/gpus#installing_drivers)  just happens to create it with `addonmanager.kubernetes.io/mode: EnsureExists` and if it's created with `Reconcile` with the way you install it, you're just... out of luck :\

[2021-08-20 05:42] grac3gao commented on #202
@assapin Sorry for the inconvenience this brings. For the memory limit fix (we change the memory limit from 20MiB to 50 MiB), it was initially pushed to 1.21 version first (all 1.21 version currently in Rapid channel contains this fix), then backported to 1.20. We backported it half month ago to 1.20 version. However, checked our recent release, this backported version is not available in 1.20 cur

[2021-08-20 15:06] ClementGautier commented on #132
I encountered the same issue on:

- Kernel version 5.4.0-1044-gke
- OS image Ubuntu 20.04.2 LTS
- Container runtime version docker://19.3.8
- kubelet version v1.20.8-gke.900
- kube-proxy version v1.20.8-gke.900
- 2x Tesla P100

What's weird is that /root/home doesn't even exists on the node so I've no idea why the link is failing at being created by the pod. I tried to update to the latest version

[2021-08-21 14:06] omesser commented on #202
@assapin - I can indeed verify the addon manager mode here is version dependent (so, imo my initial assumption that it's somehow related to how I installed it was wrong).
These are the versions I tested today and the addon manager modes (and mem limits) on the nvidia gpu device plugin:

v1.17.17-gke.9100 - Reconcile (mem limits 10M)
v1.19.13-gke.1200 - EnsureExists (mem limits 20M)
v1.20.9-gke.100

[2021-08-21 18:25] assapin commented on #202
Yes, I saw this discussion on Istio and tracked down the issue to the  "Reconcile" label, that causes the addon manager to re-apply the configuration it has stored locally on the master(?)

@omesser great that you've managed to find a specific version that comes with EnsureExists.
Seems to me the memory config. on this plugin is changing between versions and is elusive to get it right.
So yes, lik

[2021-09-02 08:50] Loquats opened #204 "Request to provide Dockerfile source code for Nvidia driver installation on COS"
Would it be possible for repo maintainers to provide the Dockerfile and any scripts used to generate the image by this daemonset? https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/nvidia-driver-installer/cos/daemonset-nvidia-v450.yaml

The reason for this request is, I'd like to install a specific version (470.57.02) of Nvidia drivers on a GKE cluster running contain

[2021-09-18 16:40] omesser commented on #202
@grac3gao - ping. Any followup here?

[2021-09-22 23:53] grac3gao commented on #202
Sorry for the late response. For the nvidia-device-plugin OOM issue, we have the following mitigations and plans :

1. For nvidia-device-plugin in cluster with k8s version earlier or equals to 1.19, users can directly edit the memory limit of the nvidia-device-plugin daemonset.
2. For nvidia-device-plugin in cluster with k8s version later than 1.19, because of the addon manager mode change, users

[2021-10-06 17:09] yeshwant-hotstar commented on #132
Facing the same issue

[2021-11-26 03:16] andreasjansson commented on #200
@adityapatadia Did you figure out a way to do upgrade driver versions? I'm having the same issue.

[2021-12-03 01:50] jtrouth commented on #204
If you set the image to gcr.io/cos-cloud/cos-gpu-installer:latest and set an NVIDIA_DRIVER_VERSION environment variable to the driver version you want it should work. Works for me with 470.82.01.

Also, I don't think the entrypoint and Dockerfile for Ubuntu are valid anymore. I've attempted the install  steps in the script manually on an Ubuntu node and it doesn't work.

[2021-12-15 20:52] rarestg commented on #132
Getting the same issue here on:
- Kernel version 5.4.0-1051-gke
- OS image Ubuntu 18.04.5 LTS
- Container runtime version docker://19.3.2
- kubelet version v1.19.14-gke.1900
- kube-proxy version v1.19.14-gke.1900

I can't get any logs out of the pod but describing it shows the error:

[code]

[2022-03-16 21:55] Endofunctor commented on #200
For anyone that finds themselves with this problem, you can untie your CUDA driver version from your COS version with the following steps:

1.  Download the [daemonset-preloaded-latest](https://raw.githubusercontent.com/GoogleCloudPlatform/container-engine-accelerators/master/nvidia-driver-installer/cos/daemonset-preloaded-latest.yaml).
2. Check the cos-tools bucket: `gsutil ls gs://cos-tools/` fo

[2022-04-10 10:02] omer-dayan commented on #132
Just for you information. If you want to fix it there is a workaround:
SSH into the node and run:
<img width="319" alt="image" src="https://user-images.githubusercontent.com/10087174/162612960-4616066b-c3a8-4a94-988d-c515cf2680fc.png">

After that restart the pod of the installer and it will run successfully.

[2022-05-20 10:18] chajath opened #237 "cos daemonset-preloaded-latest fails with driver verification issue"
I'm on a GKE 1.22 and tried to install nvidia driver 470 as per instruction by issuing the following command:
`kubectl apply -f https://raw.githubusercontent.com/GoogleCloudPlatform/container-engine-accelerators/master/nvidia-driver-installer/cos/daemonset-preloaded-latest.yaml`

However the installation fails. Here is a log except:

[code]

[2022-06-06 13:40] tingweiwu opened #239 "is there a solution to make all gpu deveices visible for a pod which not requests `nvidia.com/gpu`"
when I use [NVIDIA/k8s-device-plugin](https://github.com/NVIDIA/k8s-device-plugin) in my k8s cluster
I set NVIDIA_VISIBLE_DEVICES=all in pod spec
[code]
the devices.list under `/sys/fs/cgroup/devices/kubepods/burstable/podxxxxxx/xxxxxx/devices.list` has all gpu deveice on this node
![image](https://user-images.githubusercontent.com/29671725/172170987-82a11398-b0ce-454d-80d7-eb44a6849bbc.png)

I no

[2022-09-13 15:53] csaroff opened #248 "CUDA unknown error when checking torch.cuda.is_available"
I'm running torchserve in GKE and I've installed the [nvidia-driver-installer](https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/nvidia-driver-installer/cos/daemonset-preloaded.yaml) according to the [torchserve gpu installation instructions](https://github.com/pytorch/serve/tree/master/kubernetes/GKE#23-install-nvidia-device-plugin) for GKE.

Unfortunately, after a